@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rebeccapurple;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
}
